@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  color: #707070;
  background-color: #FFFCF8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header h1 {
  margin-top: 5%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

nav a {
  color: #707070;
  text-decoration: none;
  border-bottom: 1px solid #707070;
  font-size: 2rem;
  margin: 0 6%;
}

nav a:hover {
  border-bottom: none;
}

#banner {
  padding: 10% 0;
  background-image: url("images/4828717_m.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}

main {
  margin: 4%;
}

main h2 {
  text-align: center;
  margin: 8% auto 2%;
}

main figure {
  overflow: hidden;
  width: 220px;
  margin: 2% 1%;
}

main figure img {
  width: 100%;
}

main figure figcaption {
  text-align: center;
}

#portfolio,
#team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#team .name {
  font-size: 2rem;
  line-height: 3.5rem;
}

footer {
  text-align: center;
  padding: 5% 0;
}

footer .company-name {
  font-size: 2.2rem;
  line-height: 3rem;
}

footer .contact {
  margin: 3% auto;
}

@media screen and (max-width: 516px) {
  #banner {
    padding: 20% 0;
  }
  main figure {
    width: 70%;
  }
}